<div class="profile-page">
    <div class="wrapper">
        <div class="page-header page-header-small" filter-color="green">
            <div class="page-header-image" data-paralax="true" style="background-image: url('/assets/images/intro.jpg');"></div>
            <div class="container">
                <div class="content-center">
                    <div class="cc-profile-image">
                        <a href="#">
                            <img src="assets/images/profileIMG.png" alt="image"/>
                        </a>
                    </div>
                    <div class="h2 title">Carlos Lucas</div>
                    <p class="category text-white">Full Stack Dev</p>
                    <p class="btn btn-primary smooth-scroll mr-2" [routerLink]="['/contacto']" routerLinkActive="active" data-nav-section="contacto" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Contacto</p>
                    <p class="btn btn-primary" href="#" target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Descargar CV</p>
                </div>
            </div>
            <div class="section">
                <div class="container">
                    <div class="button-container">
                        <a class="btn btn-default btn-round btn-lg btn-icon" href="#" target="_blank" rel="tooltip" title="Seguirme en Facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a class="btn btn-default btn-round btn-lg btn-icon" href="#" target="_blank" rel="tooltip" title="Seguirme en Twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a class="btn btn-default btn-round btn-lg btn-icon" href="#" target="_blank" rel="tooltip" title="Seguirme en Instagram">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a class="btn btn-default btn-round btn-lg btn-icon" href="#" target="_blank" rel="tooltip" title="Seguirme en Linkedin">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a class="btn btn-default btn-round btn-lg btn-icon" href="#" target="_blank" rel="tooltip" title="Seguirme en Github">
                            <i class="fa fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
